.staff {
    width: 100%;
    margin: auto;
    padding: 20px 0 50px;
    background-color: $bg-basengd;
    color: $bg-handf;
    font-family: $font-desing;
    font-size: 20px;
    text-align: center;
}

/*Footer*/

.pie-pagina { 
            width: 100%;
            background-color: $bg-handf;
    .grupo-1 {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap:50px;
            padding: 45px 0px;
        .box {
            figure {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                img {
                    width: 250px;
                }
            }
           h2 {
            color: white;
            margin-bottom: 25px;
            font-size: 20px;
           }
           p {
            color: white;
            margin-bottom: 10px;
           }
        }
        .red-social {
            a {
                display: inline-block;
                text-decoration: $textdec-simple;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: white;
                margin-right: 10px;
                background-color: $bg-handf;
                text-align: center;
                transition: all 300ms ease;
                 &:hover {
                    color: white;
                }
            }
        }
    }
    .grupo-2 {
        background-color: $bg-handf;
        padding: 15px 10px;
        text-align: center;
        color: white;
        small {
            font-size: 15px;
        }
    }
}

/*Media query*/